*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;

}
.container{
    background-image: url(images/black-background-04-coolbackgrounds.png);
    background-attachment: fixed;
    background-position: center;
    background-color: rgb(96, 90, 90);
    background-blend-mode: multiply;
    width: 100%;
    height: 120vh;
}

.header{
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-left: 20px;
    margin-left: 30px;
    margin-top: 30px;
}
.header span{
    color: yellow;
}
.menu{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 30px;
    background-color: rgb(0, 0, 0);
    border: 1px 5px solid ;
    width: 7rem;
    padding: 5px;

    
}
.menu h3{
    font-size: 15px;
    color: yellow;
}
.menu i{
    font-size: 30px;
    margin-left: 20px;
 
}
.section{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 50px;
  }
  
  .icon-container {
    margin-bottom: 20px;
  }



  
  

.icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    right: 50px;
}
.icon i span{
   visibility: hidden;
    position: absolute;
    right: 40px;
    font-size: 10px;
}

.icon i:hover span{
    visibility: visible;
}
    
   
.icon i{
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 100%;
    text-align: center;
    line-height: 30px;
    margin-bottom: 20px;
    font-size: 15px;
    cursor: pointer;
}
.ano {
    position: absolute;
    left: 13em;
    transform: translateY(100%); /* initial position: 100% below its original position */
    animation: slideUp 1.5s forwards; /* animation name, duration, and fill-mode */
  }
  
  @keyframes slideUp {
    to {
      transform: translateY(0); /* final position: original position */
    }
  }
.ano h3{
    font-size: 18px;
    color: rgb(91, 89, 89); 
    word-spacing: 10px;
    margin-bottom: 15px;
}

.ano h1{
    font-size: 45px;
    width: 17em;
    line-height: 70px;

}
.btn{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 28rem;
}
.btn button{
    width: 13rem;
    height: 50px;
    background: transparent;
    color: white;
    padding:10px;
    border: 2px solid white;
    cursor: pointer;
    text-align: center;

}
.btn button:last-child{
    margin-left: 20px;
}

button:hover{
    background-color: white;
    color: black;
    transition: 1.5s;
}




.another{
    background-color: rgb(242, 242, 141);
  
    width: 100%;
    height: 120vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;  
       
}

.another .section{
    display: flex;
    flex-direction: column;

}
.first{
   margin: 20px;
   margin-bottom: 10em;
}


.first h2{
    font-size: 20px;
    color: black;
    padding-bottom: 20px;
}
.first h1{
    font-size: 80px;
    border-bottom: 1px solid white;
    padding-bottom: 30px;
    width: 35rem;
    border-color: rgb(176, 174, 174);

    
}

.another .section .second{
    margin-top: 20px;
    font-size: 25px;
    line-height: 40px;
    color: black;
    position: absolute;
    top: 48em;
    width: 35em;

}

.another .place{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;

    top: 40em;
    padding-right: 10px;
    margin-bottom: 6rem;

    
    

}
.place div{
    border-right: 1px solid white;
    padding-right: 50px;
    margin-left: 50px;
    border-color: rgb(176, 174, 174);
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
   flex-direction: column;
    
}

.place .places{
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column; 
}

.place h1{
    text-align: center;
    align-content: center;
    font-size: 90px;
    
}
.place h2{
    display: flex;
    color: black;
   
    font-size: 20px;
    
    text-align: center;
}

.place .happy{
    border-right: none;
}


.other{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 150vh;
    

}
.top{
    text-align: center;
    padding-bottom: 90px;
    position: absolute;
    top: 116rem;
}
.top h1{
    color: rgb(219, 88, 94);
    font-size: 20px;
    padding-bottom: 15px;
}
.top p{
    font-size: 50px;
    color: black;
    border-bottom: 1px solid gray;
    padding-bottom: 40px;
    width: 15em;

}
.bodys{
    column-count: 2;
    column-gap: 100px;
    justify-content: space-between;
    position: absolute;
    top: 131rem;
    
    
}
/* .bodys div{
    padding-right: 80px;
    padding-bottom: 30px;
} */
.bodys div h1{
    color: black;
    font-size: 35px;
    margin-bottom: 15px;
}

.bodys div p{
    color: grey;
    font-size: 20px;
    margin-bottom: 30px;
    width: 22em;
    line-height: 30px;
    
}
.recent{
    align-items: center;
    justify-content: center;
    background-color: black;
    text-align: center;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    margin-bottom: 90px;
}
.rec{
    
    text-align: center;
    justify-content: center;
    align-items: center;
    color: yellow;
    border-bottom: 1px solid white;
    padding-bottom: 40px;
    margin-bottom: 90px;
    
}
.rec p{
    margin-bottom: 20px;
    font-size: 25px;
}
.rec h1{
    font-size: 60px;
    
}

.image{
    column-count: 2;
    column-gap: 0;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 70vw;
    justify-items: center;
    position: absolute;
    top: 205em;

  
  
   
}
.image img:first-child{
    height: 60vh;
}
image img:third-child{
    height: 600vh;
}

.image img{
    max-width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid: center;
    cursor: pointer;
   
   
}

.image img:hover{
    transition: 0.5s;
   transform: scale(1.02);
}
.contact{
    background-image: url(images/black-background-04-coolbackgrounds.png);
    background-position: center;
    width: 100vw;
    height: 170vh;
    position: ;
    display: flex;
    margin-top: 63em;
    align-items: center;
    justify-content: center;
    color: white;
      
}
.dif .info{
    gap: 0;
    margin: 0%;
}
.dif{
    display: flex;
    flex-direction: column;
    margin-top: 130px;
}
.us{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 30px;
    position:absolute;
    color: yellow;
    top: 293em;

}
.us h1{
    font-size: 20px;
    margin-bottom: 20px;
}
.us p{
    font-size: 60px;
    width: 900px;
}
.input{
    display: flex;
    
}
.inputtext{
    display: flex;
    flex-direction: column;
    padding: 100px;
    height: 700px;
    width: 600px;
    margin: 50px;
    border: 1px solid rgb(0, 0, 0);
    /* background-color: rgb(96, 90, 90); */
    background: linear-gradient(black, transparent);

 
}
.inputtext p{
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 40px;
}
.inputtext, input, textarea{
    border: none;
    color: white;
    /* border-bottom: 1px solid white; */
    background: linear-gradient(rgb(30, 30, 30), transparent);
}
/* .inputtext, input, textarea :hover{
    border: none;
    border-bottom: 1px solid ;

} */
.name, .email, .subject, .message{
    border-bottom: 1px solid white;
}

.inputtext, input, textarea, button{
    margin: 10px;
    padding: 20px; 
}
.bbb{
    cursor: pointer;
}
.info{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px;
    background-color: black;
    width: 300px;
    height: 700px;
    margin-top: 130px;
}
.in {
    padding-top: 30px;
    padding-bottom: 40px;
}
.wheres{

}
.wheres h2{
    color: yellow;
    font-size: 30px;
    padding-bottom: 20px;
}
.wheres p{
    font-size: 15px;
    margin-bottom: 10px;
    color: grey;
}
.wheres div{
    padding-bottom: 30px;
}
.wheres .call{
    padding-bottom: 40px;
}
.acon{
    display: flex;
    gap: 20px;
    font-size: 20px;
    
    
}
.acon i:hover{
    color: yellow;
    cursor: pointer;
}
.last{
    background-color: black;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 70vh;
}
.gli{
    display: flex;

}
.glint{
    width: 440px;
}
.glint h1{
    font-size: 40px;
    color: yellow;
}
.glint p{
    margin-top: 40px;
    font-size: 18px;
    line-height: 25px;
    color: gray;
}
.get{
    width: 440px;
    margin-left: 100px;
}
.get h1{
    font-size: 20px;
}
.get p{
    margin-top: 40px;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 20px;
    color: gray;
}
.sub{
    display: flex;
    width: 440px;
}
.sub input{
    background-color: black;
    padding-left: 50px;
    color: rgb(172, 167, 167);
    width: 20em;
}
.sus{
    cursor: pointer;
    background-color: yellow;
}
.ema .sus{
   padding: 0%;
   margin: 0;
   
}
.foo{
    display: flex;
    margin-top: 90px;


}
.foo .ter{
    border-right: 1px solid gray;
    padding-right: 20px;
    color: gray;
}
.foo .ster{
    padding-left: 20px;
    color: gray;
}
.ster a{
    text-decoration: none;
    color: grey;

}
.ster a:hover{
    color: yellow;

}

@media (max-width: 600px) {
    body{
       
        display: flex;
        flex-direction: column;
       
        align-items: center;
        justify-content: center;
        background-color: green; 
        position: none;
        text-align: center;
    }
    .container{
        width: 100vw;
        height: 120vh;
        
        background-position: center;
        display: flex;
    }
    .header{
        align-items: center;
        justify-content: space-between;
        display: flex;
        margin-bottom: 900px;
    }
    .content{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .menu{
       
    }
    .ano{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;  
        margin-top: 300px;   
        height: 120vh;   
    }
    .ano h1{
        width: 15em;
        font-size: 20px;
        line-height: 30px;
        right: 25em;
    }
    .btn{
        margin-top: 90px;
        display: flex;
        width: 50px;
        top: 40em;
        right: 25em;
    }
    .icon{
        display: none;

    }
    .another{
        position: none;
        width: 100vw;
        height: 170vh;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .first{

    }
    .second{
        width: 100vw;
    }
    .second p{
        position: absolute;
        top: 15em;

        width: ;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 20px;
    }



   .place{
    display: flex;
    flex-direction: column;
    position: none;
    width: 100vw;
    border-right: none;
    text-align: center;

   }
   .place div{
    border-right: none;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
    padding-bottom: 20px;
    width: 15em;
    text-align: center;
   }

   .place .happy{
        border-bottom: none;
   }
  











.other{
    display: flex;
    flex-direction: column;
    position: none;
    background-color: aliceblue;
   padding: 100em;
   width: 100vw;
   height: 100vh;
   text-align: center;

}
.other .top. .bodys{
    top: 300em;
    text-align: center;
}

.top{
    width: 15em;
    font-size: 40px;
    margin-top: 25em;
   
    color: blue;
}
.top p{
    width: 8em;
    font-size:40px;
    
    margin-left: 20px;
}


.bodys{
    display: flex;
    flex-direction: column;
    top: 200em;
   

}
.recent{
    position: absolute;
    top: 280em;
}
.image{
    display: flex;
    flex-direction: column;
    top: 360em;
    width: 80vw;
    height: 50vh;

}



.contact{
    display: flex;
    flex-direction: column;
    width: 100vw;
    
}
.us{
    display: none;
}
.dif{
    width: 100vw;
}
.input{
 margin-top: 300px;
   
}

.info{
     margin-bottom: 30em;
     width: 100vw;
     text-align: center;
}
.info .acon{
    align-items: center;
    justify-content: center;
}
.last{
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.gli{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.glint{
    text-align: center;
    width: 20em;
    font-size: 15px;
    margin-bottom: 20px;
    text-align: center;

}
.get{
    width: 20em;
    font-size: 15px;
    
}
.sub{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20em;
}




}



  




